@import 'colors';

body {
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}
hr {
  margin: 1rem 0;
  background-color: rgba($white, .3) !important;
  height: 1px !important;
}
#app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  #sidebar {
    padding: 1rem;
    color: $white;
    background: $grape;
    display: flex;
    flex-direction: column;
    select {
      align-self: stretch;
      width: 100%;
    }
    button.button {
      margin: 1rem 0;
      align-self: center;
    }
    aside.menu {
      ul {
        li {
          a {
            cursor: pointer;
            color: $white;
            background: transparent;
            &:hover {
              background: rgba($white, .2);
            }
          }
        }
      }
    }
  }
  #main {
    padding: 2rem;
    background: $offwhite;
  }
}
.statTile {
  display: inline-block;
  > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    > * {
      padding: .25rem .75rem;
    }
    label {
      background: $gray;
      color: $white;
    }
    div {
      background: $white;
      font-size: 2.5rem;
      font-weight: 100;
    }
  }
}
.statGrid {
  display: inline-block;
  > div {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    > div {
      display: flex;
      background: $white;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      > div {
        padding: .5rem;
        &:nth-child(1), &:nth-child(3) {
          padding: 0.5rem;
          align-self: stretch;
          color: $white;
          background-color: $gray;
        }
        &:nth-child(3) {
          color: rgba($grape, .8);
        }
        &:nth-child(2) {
          font-size: 2.5rem;
          font-weight: 100;
        }
      }
    }
  }
}