@import '../colors';

.icon-button {
  background: $white;
  display: flex;
  flex-direction: column;
  display: block;
  height: auto !important;
  color: $grape !important;
  margin-right: .5rem;
  i.faded {
    color: $gray !important;
  }
}